<!DOCTYPE html>
<html>
<title> Grand Theft Auto </title>
<link rel='shortcut icon' href='static\img\gta_logo.png' type='image/x-icon'/ >
<style>
.game_section{
	border: solid;
}

iframe{
border:solid;
}
</style>
<body>
	<center><h1> Grnad Theft Auto </h1></center>
	<center><img src="static\img\gta0.png" height="400" width="700"/></center>
	<center class="game_section"><b>
	Grand Theft Auto is an action-adventure video game series created by David Jones and Mike Dailly;
	the later titles of which were created by brothers Dan and Sam Houser, Leslie Benzies and Aaron Garbut.
	It is primarily developed by Rockstar North (formerly DMA Design), and published by Rockstar Games.
	The name of the series references the term used in the US for motor vehicle theft.
	Most games in the series are set in fictional locales modelled on American cities,
	usually either Liberty City, Vice City, or San Andreas, which are stand-ins for New York City,
	Miami, and the state of California, respectively. The first game encompassed three fictional cities,
	while subsequent titles tend to emphasise a single city and its outlying areas.
	Gameplay focuses on an open world where the player can choose missions to progress an overall story,
	as well as engaging in side activities, all consisting of action-adventure, driving, third-person shooting,
	occasional role-playing, stealth, and racing elements. The series focuses around many different protagonists
	who attempt to rise through the ranks of the criminal underworld, although their motives for doing so vary 
	in each game. The series also has elements of the earlier beat 'em up games from the 16-bit era.
	The antagonists are commonly characters who have betrayed the protagonist or his organisation,
	or characters who have the most impact impeding the protagonist's progress.
	Film and music veterans have voiced characters, including Ray Liotta, Burt Reynolds, Dennis Hopper,
	Samuel L. Jackson, James Woods, Debbie Harry, Phil Collins,
	Axl Rose, and Peter Fonda. With its British origin, the series contains satire and humour.
	British video game developer DMA Design began the series in 1997.
	As of 2014, it has eleven stand-alone games and four expansion packs.
	The third chronological title, Grand Theft Auto III,
	is considered a landmark title, as it brought the series to a 3D setting and more immersive experience.
	Subsequent titles would follow and build upon the concept established in Grand Theft Auto III, 
	and receive significant acclaim. They subsequently influenced many other open world action games, 
	and led to the label Grand Theft Auto clone on similar games.
	The series has been critically acclaimed and commercially successful, 
	having shipped more than 235 million units, as of September 2015. 
	In 2006, Grand Theft Auto featured in a list of British design icons in the Great British Design 
	Quest organised by the BBC and the Design Museum. In 2013 The Telegraph ranked the GTA series among Britain's
	most successful exports. However, the series has also 
	gained controversy for its adult nature and violent themes.
	</center></b>
	<center><h1>BEST MOMENTS:</h1>
	<iframe width="600" height="300" src="https://www.youtube.com/embed/pWS8GkWs-dU" frameborder="0" allowfullscreen></iframe>
	<iframe width="600" height="300" src="https://www.youtube.com/embed/ZA4Kzi0z47E" frameborder="0" allowfullscreen></iframe>
	<iframe width="600" height="300" src="https://www.youtube.com/embed/kaD5NAMdkTY" frameborder="0" allowfullscreen></iframe>
	<h1>My Opinion:</h1>
	<h3> This game is really fun, it has many cool mods and missions. i'll give it a 10 out of 10 rating! </h3></center>
</body>
</html>